Bagaimana python mengevaluasi "Introduction to the if Statement"

In [1]:
x = 0 #lebih kecil dari 5
y = 5 #lebih besar dari 0

In [2]:
if x < y:
    print('yes')

yes

In [19]:
if y < x:
    print('yes')

In [20]:
if y > x:
    print('yes 1')

yes 1

In [7]:
print (x,y)

0 5

In [9]:
print(x, type(x))

0 <class 'int'>

In [10]:
print(y, type(y))

5 <class 'int'>

In [12]:
if x: #karna x=0, expressionnya false, karna tipe data int dan nilai nol
    print('yes')

In [21]:
if y: #karna y=5, expressionnya false
    print('yes 2')

yes 2

In [22]:
if 'aul' in 'grault': #jika ada aul di kata grault
    print('yes 3')

yes 3

In [14]:
print('aul' in 'grault')

True

In [15]:
print('aul' in 'owy')

False

In [16]:
if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

In [ ]:
keyword = 'hello'
title = ''

Grouping Statements : Indentation and Blocks
Mengelompokkan statement
if yang diatas hanya 1 statement
Disini akan memberikan beberapa statement dalam 1 if

In [28]:
weather = 'nice'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')

Mow the lawn
Weed the garden
Take the dig for a walk

In [27]:
weather = 'stormy'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')

In [29]:
print(x)
print(y)
print(weather)

0
5
nice

In [35]:
if 'qux' in ['bar', 'bax', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    print('After conditional')

Expression was true
Executing statement in suite
...
Done.
After conditional

In [ ]:
weather = 'windy'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')

In [39]:
x = 120

In [40]:
print ('x is ', x)
print('-' * 15)
if x < 50:
    print('(first suite)')
    print ('x is small')
else:
    print('(second suite)')
    print ('x is large')

x is  120
---------------
(second suite)
x is large

In [44]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
        print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [45]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 150000

if uang > hargaBuku:
        print("beli buku")
else:
    print("uang tidak cukup")

beli buku

In [46]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

print('uang :', uang)
print('harga buku :', hargaBuku)

if uang > hargaBuku:
        print("beli buku")
else:
    print("uang tidak cukup")

uang : 2000
harga buku : 20000
uang tidak cukup

In [50]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 150000

print('uang :', uang)
print('harga majalah :', hargaMajalah)
print('harga buku :', hargaBuku)

if uang > hargaBuku:
        print("beli buku")
else:
    print("uang tidak cukup")

uang : 150000
harga majalah : 5000
harga buku : 20000
beli buku

In [57]:
name = 'Fred'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print ('Hello Xander')
elif name == 'Hacktiv8':
    print ('Hello Hacktiv8')
elif name == 'Arnold':
        print('Hello Arnold')
else:
            print("I don't know who u are!")

Hello Fred

In [66]:
#Short Circuit Evaluation
if 'a' in 'bar':
    print('foo')
elif 'b' in 'bar':
    print('b is found!')
    
print('telah keluar dari blok if')

foo
telah keluar dari blok if

In [65]:
print ('a' in 'bar')
print ('b' in 'bar')

True
True

In [70]:
#a b c d e
#>80. >60, >40, >20, >0

nilai = 90
if nilai > 80:
    print('a')
elif nilai > 20:
    print('e')

a

In [71]:
#a b c d e
#>80. >60, >40, >20, >0

nilai = 30
if nilai > 80:
    print('a')
elif nilai > 20:
    print('e')

e

In [51]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

In [54]:
if 'b' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

One Line if Statements

In [55]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [56]:
if 'z' in 'foo': print('1'); print('2'); print('3')

Multiple Statements

x = 1

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

In [61]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [62]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

Dibawah ini lebih mudah dipahami

In [63]:
x = 3

if x == 1: 
    print('foo') 
    print('bar') 
    print('baz')
elif x == 2: 
    print('qux') 
    print('quux')
else: 
    print('corge') 
    print('grault')

corge
grault

Conditional Expressions (Python's Ternary Operator)

In [72]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [73]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [81]:
raining = True

if not raining:
    place = 'beach'
else:
    place = 'library'
    
print('Lets go to the', place)

Lets go to the library

In [74]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [75]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [78]:
if True:
    pass
print('foo')

foo

Python "while" Loops

In [79]:
n = 5
while n > 0: # 5, 4 3 2 1 0
    n -= 1
    print(n)

4
3
2
1
0

In [83]:
i = 1
while i < 6: # 1, 2, 3, 4, 5
    print(i)
    i += 1

1
2
3
4
5

The Python Break and Continue Statements

n -= 1
sama dengan
n = n -1
n = 5-1
n= 4

In [86]:
n = 5
while n > 0:   #5 >0
    n -= 1     #4 3 2
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [87]:
n = 5
while n > 0:          #5 4 3 2 1
    n -= 1            #4 3 2 1 0
    if n == 2:        #F F T F F
        continue      #S S C S S
    print(n)          #4 3 1 0
print('Loop ended.')

4
3
1
0
Loop ended.

The Else Clause

In [88]:
n = 5
while n > 0: 
    n -= 1  
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [89]:
n = 5
while n > 0:   
    n -= 1    
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

Infinite Loops

Nested While Loops

In [ ]:
if age < 18:
    if gender == 'M':
        PRINT('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
        if gender == 'M':
            print('father')
        else:
            print('mother')
else:
     is gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

In [90]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

On Line While Loops

In [91]:
n = 5
while n > 0: n -=1; print(n)

4
3
2
1
0

In [ ]:
Numeric Range Loop

In [ ]:
The Python For Loop

In [93]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [97]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [100]:
for k in d:
    print(d[k])

1
2
3

In [101]:
for k in d.values():
    print(k)

1
2
3

In [102]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [ ]:
Iterating Through a Dictionary

In [103]:
for k in d:
    print(d[k])

1
2
3

The range() functions

In [104]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [105]:
x = range(5)

In [106]:
for n in x:
    print(n)

0
1
2
3
4

Altering for Loop Behavior

The break and Continue Statements

In [107]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

continue untuk menghentikan iterasi

In [108]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

The else clause

In [109]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [110]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

In [121]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5/9))
else:
    print("Masukan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 45F
Temperaturnya adalah 7 derajat

In [113]:
temp

'90 C'

In [114]:
'12C'

'12C'

In [115]:
result

194

In [116]:
54

54

In [117]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: STOP
stop