In [1]:
import pandas as pd

In [2]:
import numpy as np

In [8]:
df = pd.read_csv('winequality-red.csv')

In [10]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

### MELIHAT JUMLAH BARIS
len()

In [9]:
len (df)

1599

### MELIHAT JUMLAH BARIS DAN KOLOM

In [11]:
df.shape

(1599, 12)

### MELIHAT LIMA BARIS PERTAMA

In [12]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### MENAMPILKAN 5 BARIS TERAKHIR

In [13]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

### MENAMPILKAN 3 BARIS TERAKHIR

In [14]:
df.tail(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [15]:
df.info

<bound method DataFrame.info of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]>

In [17]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

### EXPLORING YOUR DATASET

value_counts()

In [18]:
# jumlah kadar alkohol terbanyak di data red wine yaitu 9.5 

df["alcohol"].value_counts()

9.500000     139
9.400000     103
9.800000      78
9.200000      72
10.000000     67
            ...
9.950000       1
9.233333       1
9.250000       1
9.050000       1
10.750000      1
Name: alcohol, Length: 65, dtype: int64

In [19]:
# jumlah kadar pH terbanyak di data red wine yaitu 3.3

df["pH"].value_counts()

3.30    57
3.36    56
3.26    53
3.38    48
3.39    48
        ..
3.75     1
2.74     1
3.70     1
3.85     1
2.90     1
Name: pH, Length: 89, dtype: int64

### SERIES OBJECT

series punya 2 komponen

- urutan index (.index)
- urutan nilai (.values)

In [20]:
revenues = pd.Series([5555, 7000, 1980])

In [21]:
revenues

0    5555
1    7000
2    1980
dtype: int64

### revenues.values "mengembalikan nilai dalam seri"

In [22]:
revenues.values

array([5555, 7000, 1980], dtype=int64)

### revenues.index "mengembalikan indeks posisi"

In [24]:
revenues.index

RangeIndex(start=0, stop=3, step=1)

### what is the different?

revenues "like a python list" karena hanya punya indeks posisi
city_revenues "like python dictionary" karena perpaduan antara indeks posisi dan index label

In [25]:
city_revenues = pd.Series(
    [4200, 8000, 6500],      # indeks posisi
    index=["Amsterdam", "Toronto", "Tokyo"]    # indeks label
)

In [26]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

### Cara membuat Series dengan indeks label (Dictionary Python)

In [27]:
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo":8})
city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

Amsterdam    5 #nilai dictionary = nilai series
Tokyo        8 nilai dictionary = nilai series
dtype: int64

#dictionary keys jadi indeks

### Series juga mendukung .keys()

In [28]:
city_employee_count.keys()

Index(['Amsterdam', 'Tokyo'], dtype='object')

### TES TRUE OR FALSE

In [29]:
"Tokyo" in city_employee_count

True

In [ ]:
"New York" in city_employee_count

### Understanding Data Frame Objects

udah punya 2 objek series dgn city sebagai kuncinya

- city_revenues (pendapatan)
- city_employee_count (karyawan)

In [ ]:
DICTIONARY KEYS = NAMA KOLOM
NILAI = OBJEK SERIES

In [30]:
city_data = pd.DataFrame({
    "revenue": city_revenues,
    "employee_count" : city_employee_count
})

In [31]:
city_data

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN

In [32]:
city_data.index

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [33]:
city_data.values

array([[4.2e+03, 5.0e+00],
       [6.5e+03, 8.0e+00],
       [8.0e+03,     nan]])

In [34]:
city_data.axes

[Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object'),
 Index(['revenue', 'employee_count'], dtype='object')]

### ingat! axes 0 = indeks kolom , axes 1 = indeks baris

In [35]:
city_data.axes[0]  #kolom

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [36]:
city_data.axes[1]  #baris

Index(['revenue', 'employee_count'], dtype='object')

### "dataframe" = struktur data seperti "dictionary"
mendukung keys() dan keyword "in"

In [37]:
city_data.keys()

Index(['revenue', 'employee_count'], dtype='object')

In [38]:
"Amsterdam" in city_data

False

In [39]:
"revenue" in city_data

True

### KEMBALI KE DATA  CSV
Karnakalian tdk menentukan kolom indeks saat membaca file csv,
panda telah menetapkan "Range Index" ke Data Frame.

In [40]:
df.index

RangeIndex(start=0, stop=1599, step=1)

In [41]:
df.axes   # df punya 2 axes

[RangeIndex(start=0, stop=1599, step=1),
 Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
        'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
        'pH', 'sulphates', 'alcohol', 'quality'],
       dtype='object')]

### memeriksa keberadaan kolom

keys()

In [42]:
"sugar" in df.keys()

False

In [44]:
"quality" in df.keys()

True

### ACCESSING SERIES ELEMENS (ELEMEN SERIES)

.loc
.iloc

### using indexing operator

series punya 2 indeks

1. Range Index = implicit index
2. Label Index = explicit index

### kembali ke city revenues

In [45]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [46]:
city_revenues["Toronto"]

8000

In [49]:
city_revenues[0] #indeks 0

4200

In [50]:
city_revenues[1] #indeks 1

8000

In [51]:
city_revenues[2] #indeks 2

6500

In [48]:
city_revenues[-1]

6500

In [52]:
city_revenues[1:]

Toronto    8000
Tokyo      6500
dtype: int64

In [55]:
city_revenues["Amsterdam":]

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

### Using .loc dan .iloc

# bagaimana jika labelnya juga angka??

In [58]:
colors = pd.Series(
    ["red", "purple", "blue", "green", "yellow"], 
    index = [1,2,3,4,5,8]
)

ValueError: Length of values (5) does not match length of index (6)

### Using the Indexing Operator

In [59]:
city_data["revenue"]

Amsterdam    4200
Tokyo        6500
Toronto      8000
Name: revenue, dtype: int64

### CONTOH 1

In [60]:
city_data.revenue # dot notation

Amsterdam    4200
Tokyo        6500
Toronto      8000
Name: revenue, dtype: int64

### contoh 2

In [61]:
toys = pd.DataFrame([
    {"name":"ball","shape":"sphere"},
    {"name": "Rubik cube", "shape": 'cube'}
])

In [62]:
toys

         name   shape
0        ball  sphere
1  Rubik cube    cube

In [63]:
toys["shape"]

0    sphere
1      cube
Name: shape, dtype: object

In [64]:
toys.shape

(2, 2)

### Gunakan pengaksesan bergaya atribut dalam sesi interaktif atau operasi read. Tidak digunakan untuk kode produksi atau untuk memanipulasi data (seperti menentukan kolom baru).

### Using .loc dan .iloc
.loc pakai label
.iloc pakai indeks posisi

### contoh 1

In [65]:
city_data.loc["Amsterdam"]

revenue           4200.0
employee_count       5.0
Name: Amsterdam, dtype: float64

In [66]:
city_data.loc["Tokyo": "Toronto"]

         revenue  employee_count
Tokyo       6500             8.0
Toronto     8000             NaN

### contoh 2

In [67]:
city_data

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN

In [70]:
city_data.loc["Amsterdam":"Toronto"]

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN

In [72]:
city_data.iloc[0]

revenue           4200.0
employee_count       5.0
Name: Amsterdam, dtype: float64

In [71]:
city_data.iloc[1]

revenue           6500.0
employee_count       8.0
Name: Tokyo, dtype: float64

In [73]:
city_data.iloc[2]

revenue           8000.0
employee_count       NaN
Name: Toronto, dtype: float64

In [74]:
df.iloc[-2]

fixed acidity            5.90000
volatile acidity         0.64500
citric acid              0.12000
residual sugar           2.00000
chlorides                0.07500
free sulfur dioxide     32.00000
total sulfur dioxide    44.00000
density                  0.99547
pH                       3.57000
sulphates                0.71000
alcohol                 10.20000
quality                  5.00000
Name: 1597, dtype: float64

In [75]:
city_data.loc["Amsterdam": "Tokyo", "revenue"]

Amsterdam    4200
Tokyo        6500
Name: revenue, dtype: int64

### MENAMPILKAN DATA ANTARA 1000-1005

In [77]:
df.loc[1000:1005, ["density", "pH", "sulphates", "alcohol"]]

      density    pH  sulphates  alcohol
1000  0.99495  3.44       0.72     11.5
1001  0.99676  3.26       0.82     10.6
1002  0.99516  3.26       0.84     11.7
1003  0.99280  3.36       0.55     12.8
1004  0.99603  3.25       0.54     10.3
1005  0.99280  3.36       0.55     12.8

### QUERYING YOUR DATASET

In [78]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [99]:
jumlah = df[df["fixed acidity"] > 15 ]

In [100]:
jumlah

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
442,15.6,0.685,0.76,3.7,0.100,6.0,43.0,1.00320,2.95,0.68,11.2,7
554,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
555,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
557,15.6,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
652,15.9,0.360,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5

In [101]:
jumlah.shape

(5, 12)

In [105]:
jumlah = df[df["fixed acidity"].notnull()]

In [103]:
jumlah.shape

(1599, 12)

### SUM & MAX

In [106]:
city_revenues.sum()

18700

In [107]:
city_revenues.max()

8000

In [109]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [110]:
nba = df.copy()

In [111]:
nba.shape

(1599, 12)