In [21]:
import numpy as np
np.__version__

'1.22.3'

## Python List

In [22]:
# Mendefinisikan list
# Misalnya terdapat GPA dari mahasiswa sem 1,2,3
# lalu akan ditambahkan GPA semester 4 menggunakan 'append'
# APPEND hanya ditambahkan diakhir
# INSERT bisa ditambahkan ditengah.
# POP menghapus satu angka dibelakang 

# ARRAY 1 DIMENSI

gpas_as_list = [4.0, 3.2, 3.5]

In [23]:
gpas_as_list.append(4.0)
gpas_as_list

[4.0, 3.2, 3.5, 4.0]

In [24]:
gpas_as_list.insert(1, "belum ada")
gpas_as_list

[4.0, 'belum ada', 3.2, 3.5, 4.0]

In [25]:
gpas_as_list.pop(1)
gpas_as_list

[4.0, 3.2, 3.5, 4.0]

## Numpy Array

In [26]:
gpas = np.array(gpas_as_list)

In [27]:
gpas.dtype

dtype('float64')

In [28]:
gpas.size

4

## Study Log

In [29]:
study_minutes = np.zeros(100, np.uint16)
study_minutes

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint16)

In [30]:
%whos

Variable        Type       Data/Info
------------------------------------
a               ndarray    5: 5 elems, type `int32`, 20 bytes
b               ndarray    5: 5 elems, type `int32`, 20 bytes
gpas            ndarray    4: 4 elems, type `float64`, 32 bytes
gpas_as_list    list       n=4
np              module     <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
orders          ndarray    4x4: 16 elems, type `int32`, 64 bytes
prices          ndarray    4: 4 elems, type `float64`, 32 bytes
study_less      ndarray    0: 0 elems, type `uint16`, 0 bytes
study_minutes   ndarray    100: 100 elems, type `uint16`, 200 bytes
totals          ndarray    4: 4 elems, type `int32`, 16 bytes
x1              ndarray    3x3: 9 elems, type `float64`, 72 bytes
x2              ndarray    3: 3 elems, type `float64`, 24 bytes

## ARRAY (MULTI DIMENSI) 2 DIMENSI

                   nilai per semester
                   1[0]  2[1]  3[2]  4[3]
murid 1(indeks 0)   _     _     _     _
murid 2(indeks 1)   _     _     _     _
murid 3(indeks 2)   _     _     _     _

In [31]:
students_gpas = np.array([
    [4.0, 3.3, 3.5, 3.0],
    [3.96, 3.92, 2.7, 2.1],
    [3.2, 3.8, 2.8, 4.5]], np.float16)

students_gpas

array([[4.  , 3.3 , 3.5 , 3.  ],
       [3.96, 3.92, 2.7 , 2.1 ],
       [3.2 , 3.8 , 2.8 , 4.5 ]], dtype=float16)

In [32]:
# ndim = NUMBER OF DIMENSION

students_gpas.ndim

2

In [33]:
# Melihat bentuk array (SHAPE)
# KOLOM = 3, BARIS = 4

students_gpas.shape

(3, 4)

In [34]:
students_gpas[2]

array([3.2, 3.8, 2.8, 4.5], dtype=float16)

In [35]:
#Nilai Murid ke 2 di Semester 3

students_gpas[2][3]

4.5

## Study Log Multidimensi

In [36]:
study_minutes = np.array([
    study_minutes,
    np.zeros(100, np.uint16)
])

study_minutes.shape

(2, 100)

In [37]:
study_minutes[1][0] = 60
study_minutes

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0],
       [60,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0]], dtype=uint16)

In [38]:
rand = np.random.RandomState

In [39]:
rand = np.random.RandomState(46)
fake_log = rand.randint(30, 180, size=100, dtype=np.uint16)
fake_log

array([ 99,  45,  70, 162, 146,  70, 177, 176,  47, 148, 123,  67,  90,
       122,  34, 160, 135, 102,  62,  61,  85,  52, 153, 128,  89,  37,
       109,  60, 128,  57, 160,  67, 144,  97, 150, 148,  32, 155, 116,
       137,  49,  70, 159, 159,  84, 114,  93, 110,  81, 122, 103,  53,
        52, 147,  75,  93,  45,  46, 177,  91,  70,  69,  46, 150,  86,
       170, 174, 143,  88,  71, 132,  67, 157, 118,  91, 158, 178, 176,
        37, 155,  45,  66,  60,  35, 154,  75,  53,  33,  80, 126,  76,
       113, 148, 163,  57,  83, 145, 148, 167, 129], dtype=uint16)

In [40]:
# list
[fake_log[1], fake_log[21]]

[45, 52]

In [41]:
[fake_log[1]]

[45]

In [42]:
fake_log[1]

45

In [43]:
# array

fake_log[[1,21]]

array([45, 52], dtype=uint16)

MENAMPILKAN ARRAY BARU, NAMUN SUSUNANNYA BERDASARKAN SUSUNAN
ARRAY SEBELUMNYA

In [44]:
index = np.array ([
    [1,21],
    [1,2]
])

fake_log[index]

array([[45, 52],
       [45, 70]], dtype=uint16)

ARRAY SIFATNYA STATIC, TAPI JIKA MEMANFAATKAN NUMPY

In [46]:
study_minutes = np.append(study_minutes, [fake_log])
study_minutes

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,  60,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,  99,  45,  70, 162, 146,  70, 177, 176,
        47, 148, 123,  67,  90, 122,  34, 160, 135, 102,  62,  61,  85,
        52, 153, 128,  89,  37, 109,  60, 128,  57, 160,  67, 144,  97,
       150, 148,  32, 155, 116, 137,  49,  70, 159, 159,  84, 114,  93,
       110,  81, 122, 103,  53,  52, 147,  75,  93,  45,  46, 177,  91,
        70,  69,  46, 150,  86, 170, 174, 143,  88,  71, 132,  67, 157,
       118,  91, 158, 178, 176,  37, 155,  45,  66,  60,  35, 154,  75,
        53,  33,  80, 126,  76, 113, 148, 163,  57,  83, 145, 148, 167,
       129], dtype=uint16)

# Slicing Array
Proses dimana kita ingin memilih Array mana yang ingin kita gunakan

Dari range 0-42, kita buat array random angka urut 0-41
tiap array ada 7 kolom (indeks) dan 6 baris (elemen)

In [47]:
practice = np.arange(42) 
practice.shape = (7,6)
practice

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40, 41]])

In [48]:
# indeks ke 2 dan elemen 1
# jangan lupa hitung dari nol

practice[2,1]

13

In [49]:
practice[2,1]

13

In [50]:
# Menampilkan array di indeks 2 sampai 5, tapi hanya menampilkan
# indeks 2 sampai 4 saja

practice[2:5]

array([[12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [51]:
# Menampilkan array di indeks 2-5, tapi hanya di elemen 3 saja

practice[2:5, 3]

array([15, 21, 27])

In [52]:
# Menampilkan array di indeks 2-5, dari elemen 3-5

practice[2:5, 3:]

array([[15, 16, 17],
       [21, 22, 23],
       [27, 28, 29]])

# Copy vs View

In [53]:
practice_list = [1,2,3]
practice_list_copy = practice_list[:]
practice_list, practice_list_copy
practice_list_copy[0] = 12345
practice_list, practice_list_copy

([1, 2, 3], [12345, 2, 3])

In [54]:
not_copied = practice[:]
not_copied[0, 0] = 12345
practice, not_copied

(array([[12345,     1,     2,     3,     4,     5],
        [    6,     7,     8,     9,    10,    11],
        [   12,    13,    14,    15,    16,    17],
        [   18,    19,    20,    21,    22,    23],
        [   24,    25,    26,    27,    28,    29],
        [   30,    31,    32,    33,    34,    35],
        [   36,    37,    38,    39,    40,    41]]),
 array([[12345,     1,     2,     3,     4,     5],
        [    6,     7,     8,     9,    10,    11],
        [   12,    13,    14,    15,    16,    17],
        [   18,    19,    20,    21,    22,    23],
        [   24,    25,    26,    27,    28,    29],
        [   30,    31,    32,    33,    34,    35],
        [   36,    37,    38,    39,    40,    41]]))

In [55]:
print(practice.base)

None

In [56]:
print(not_copied.base)

[[12345     1     2     3     4     5]
 [    6     7     8     9    10    11]
 [   12    13    14    15    16    17]
 [   18    19    20    21    22    23]
 [   24    25    26    27    28    29]
 [   30    31    32    33    34    35]
 [   36    37    38    39    40    41]]

In [57]:
not_copied.base is practice

True

In [58]:
not_copied.base is practice_list

False

# Filter Array dengan Kondisi
### Mencari durasi belajar dibawah 1 jam (60 menit)

In [59]:
#Nilai dambil dari fake_log, jika kurang dari 60 True, jika lebih False

fake_log < 60

array([False,  True, False, False, False, False, False, False,  True,
       False, False, False, False, False,  True, False, False, False,
       False, False, False,  True, False, False, False,  True, False,
       False, False,  True, False, False, False, False, False, False,
        True, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False,  True,  True, False,
       False, False,  True,  True, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False,  True,
       False, False,  True, False, False,  True,  True, False, False,
       False, False, False, False,  True, False, False, False, False,
       False])

In [60]:
# Menampilkan data yang lebih kecil dari 60 saja

fake_log < 60
fake_log[fake_log < 60 ]

array([45, 47, 34, 52, 37, 57, 32, 49, 53, 52, 45, 46, 46, 37, 45, 35, 53,
       33, 57], dtype=uint16)

In [61]:
results = []
for value in fake_log:
    if value < 60:
        results.append(value)
        
np.array(results)

array([45, 47, 34, 52, 37, 57, 32, 49, 53, 52, 45, 46, 46, 37, 45, 35, 53,
       33, 57], dtype=uint16)

In [62]:
study_minutes = np.zeros(100, np.uint16)
study_minutes = np.append(study_minutes, [fake_log])
study_minutes

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,  99,  45,  70, 162,
       146,  70, 177, 176,  47, 148, 123,  67,  90, 122,  34, 160, 135,
       102,  62,  61,  85,  52, 153, 128,  89,  37, 109,  60, 128,  57,
       160,  67, 144,  97, 150, 148,  32, 155, 116, 137,  49,  70, 159,
       159,  84, 114,  93, 110,  81, 122, 103,  53,  52, 147,  75,  93,
        45,  46, 177,  91,  70,  69,  46, 150,  86, 170, 174, 143,  88,
        71, 132,  67, 157, 118,  91, 158, 178, 176,  37, 155,  45,  66,
        60,  35, 154,  75,  53,  33,  80, 126,  76, 113, 148, 163,  57,
        83, 145, 148, 167, 129], dtype=uint16)

In [63]:
# filter nilai di variabel study_minutes dimana nilainya < 60 menit

study_minutes[study_minutes < 60]

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 45, 47,
       34, 52, 37, 57, 32, 49, 53, 52, 45, 46, 46, 37, 45, 35, 53, 33, 57],
      dtype=uint16)

In [64]:
# angka 0 nya dihilangkan

study_minutes[study_minutes < 60]
study_minutes[(study_minutes < 60) & (study_minutes > 0)]

array([45, 47, 34, 52, 37, 57, 32, 49, 53, 52, 45, 46, 46, 37, 45, 35, 53,
       33, 57], dtype=uint16)

## Aljabar Linear

In [65]:
orders = np.array ([
    [2, 0, 0, 0],
    [1, 0, 2, 4],
    [1, 2, 1, 0],
    [4, 6, 0, 2]
])

totals = np.array ([20000, 32000, 20000, 61000])
prices = np.linalg.solve(orders, totals)
prices

array([10000.,  2500.,  5000.,  3000.])

In [66]:
orders @ prices

array([20000., 32000., 20000., 61000.])

## FUNGSI UNIVERSAL

In [67]:
a, b = np.split(np.arange(1,11), 2)
a, b

(array([1, 2, 3, 4, 5]), array([ 6,  7,  8,  9, 10]))

In [68]:
a + b

array([ 7,  9, 11, 13, 15])

In [69]:
a * b

array([ 6, 14, 24, 36, 50])

In [70]:
a - b

array([-5, -5, -5, -5, -5])

In [71]:
b - a

array([5, 5, 5, 5, 5])

In [72]:
# Menambahkan nilai di array

a + 3

array([4, 5, 6, 7, 8])

In [73]:
# Menambahkan 3 di 5 array

a + np.repeat(3, 5)

array([4, 5, 6, 7, 8])

In [74]:
#

x1 = np.arange(9.0).reshape((3, 3))
x2 = np.arange(3.0)
x1, x2

(array([[0., 1., 2.],
        [3., 4., 5.],
        [6., 7., 8.]]),
 array([0., 1., 2.]))

In [75]:
np.add(x1, x2)

array([[ 0.,  2.,  4.],
       [ 3.,  5.,  7.],
       [ 6.,  8., 10.]])

## Operasi Matriks Lainnya

In [76]:
study_less = study_minutes [(study_minutes < 60) & (study_minutes > 0)]
study_less

array([45, 47, 34, 52, 37, 57, 32, 49, 53, 52, 45, 46, 46, 37, 45, 35, 53,
       33, 57], dtype=uint16)

In [78]:
# REDUCE dan SUM untuk menjumlahkan semua angka

study_less = study_minutes [(study_minutes < 60) & (study_minutes > 0)]
print(study_less)

np.add.reduce(study_less)

[45 47 34 52 37 57 32 49 53 52 45 46 46 37 45 35 53 33 57]

855

In [79]:
np.sum(study_less)

855

In [81]:
print(study_minutes)
np.sum(study_minutes)

[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0  99  45  70 162 146  70 177 176
  47 148 123  67  90 122  34 160 135 102  62  61  85  52 153 128  89  37
 109  60 128  57 160  67 144  97 150 148  32 155 116 137  49  70 159 159
  84 114  93 110  81 122 103  53  52 147  75  93  45  46 177  91  70  69
  46 150  86 170 174 143  88  71 132  67 157 118  91 158 178 176  37 155
  45  66  60  35 154  75  53  33  80 126  76 113 148 163  57  83 145 148
 167 129]

10415

## VISUALISASI DATA DENGAN MATPLOTLIB

In [83]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'